# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Diagnostic reports
report.[0-9]*.[0-9]*.[0-9]*.json

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Dependency directories
node_modules/

# Prisma
backend/prisma/dev.db
backend/prisma/*.db
backend/.env
frontend/.env.local

# Build output
.next/
out/
dist/

# IDE files
.vscode/
.DS_Store
